[submodule "nextcloudlib"]
	path = nextcloudlib
	url = https://github.com/nextcloud/android-library.git
[submodule "SpreedboxAndroidWebrtc"]
	path = SpreedboxAndroidWebrtc
	url = https://github.com/PeterEdens/SpreedboxAndroidWebrtc.git
[submodule "android-floating-action-button"]
	path = android-floating-action-button
	url = https://github.com/futuresimple/android-floating-action-button.git
